* {
    box-sizing: border-box;
}
body{
    background: lightgray;
}
.tab{
    width: 500px;
    overflow: hidden;

}
.tab button{
    background: red;
    border: none;
    outline: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.tab button:hover{
    background-color: rgb(165, 5, 5);
}
.tab button.active{
    background: green;
}

.tabcontent {
    background: white;
    width: 500px;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    display: none;
}